<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EtailPet Application Test Automation Test Suite">

<listeners>
		<listener class-name="com.etailpet.qa.ExtendedReportListener.ExtendReportListener" />
</listeners>


     <test name="EtailPet Website Test Cases">
		<classes>		
                      <class name="com.etailpet.qa.testcases.ShopItemTest"/>
 		</classes>
	</test>
</suite>